.loki
{
	width: auto;  /* be overridden by textarea height and width */

	padding: 5px;
	border: 1px solid #999999;

	background-color: #e2e2e2;
}

.loki table.iframe_wrapper, .loki textarea
{
	width: 100%;
	height: 276px;
	background-color: white;
	border: inset #ffffff 2px;
}
.loki table td {
	height:100%;
}

.loki iframe
{
	clear: left;
	width: 100%;
	height: 100%;
	border: inset #F0F0F0 2px;
}

.loki ul.toolbar {
	clear: left;
	display: block;
	list-style: none;
	margin: 0 0 2px 0;
	padding: 0;
	overflow: auto;
}

.loki ul.toolbar li {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}

.loki ul.toolbar li a {
	border: 1px solid transparent;
	display: block;
}

.loki ul.toolbar li a.button:hover {
	border: 1px solid #264572;
	background: #99BEDB;
}

.loki ul.toolbar li a.button img {
	display: block;
	border: none;
	margin: 0;
}


.loki div.contextmenu {
	position: absolute;
	border: 1px solid;
	border-color: buttonhighlight buttonshadow buttonshadow
		buttonhighlight;
	padding: 0.2em 0;
	font-size: 90%;
	min-width: 80px;
	background: buttonface;
}

.loki div.contextmenu h3 {
	color: #333;
	font-size: 80%;
	font-weight: bold;
	margin: 0 0 0.2em 0;
	padding: 0 0.4em;
}

.loki div.contextmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.loki div.contextmenu ul li {
	
}

.loki div.contextmenu hr {
	margin: 0.3em auto;
	height: 1px;
	color: #AAA;
	background: #AAA;
	border: none;
}

.loki div.contextmenu ul li a {
	display: block;
	padding: 0.1em 31px 0.1em 19px;
}

.loki div.contextmenu ul li .right {
	float: right;
}

.loki div.contextmenu ul li:hover {
	background-color: Highlight;
}

.loki div.contextmenu ul .on {
	background: url('check.gif') 3px center no-repeat;
}

.loki div.contextmenu ul .has_sub {
	background: url('submenu.gif') right center no-repeat;
}

.loki .contextmenu ul .disabled
{
	color: GrayText;
}

.loki .grippy_wrapper
{
	text-align: right;
	/*background: url("../images/grippy.png") no-repeat right;*/
}
.loki .grippy_wrapper .grippy
{
	cursor: s-resize;
}
