.loki__hr_container {
	position: relative;
}

.loki__hr_container span {
	display: none;
	
	cursor: pointer !important;
}

.loki__hr_container a.loki__delete {
	display: block;
	height: 16px;
	width: 16px;
	
	position: absolute;
	top: -8px;
	right: 0px;
	
	background: url('../images/close.gif') top;
	
	cursor: pointer !important;
}

.loki__hr_container a.loki__delete:hover {
	background-position: bottom;
}
