body {
	margin: 1ex;
	
	/* Some reasonable defaults for standard layouts for people who don't really
	 * define their own document style sheets. */
	background: white;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}
