div.loki {
	border: 1px solid #9F8B66;
	background: #E0DCD4;
	padding: 2px;
}

div.loki iframe.visual_frame {
    width: 100%;
    border: 2px inset #F3E0B8;
    clear: left;
}

div.loki ul.toolbar {
	clear: left;
	display: block;
	list-style: none;
	margin: 0 0 2px 0;
	padding: 0;
	overflow: auto;
}

div.loki ul.toolbar li {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}

div.loki ul.toolbar li a {
	border: 1px solid transparent;
	display: block;
}

div.loki ul.toolbar li a.button:hover {
	border: 1px solid #264572;
	background: #99BEDB;
}

div.loki ul.toolbar li a.disabled:hover {
	border: 1px solid transparent;
	background: transparent;
}

div.loki ul.toolbar li a.button img {
	display: block;
	border: none;
	margin: 0;
}

div.loki ul.toolbar li a.active {
	border: 1px solid #2C4362;
	background: #B3C2CC;
}

div.loki .infobar {
/*  background: url('../images/error.png') #FFF9BB 4px 4px no-repeat;*/
	border-top: 1px solid #9F8B66;
	padding: 4px 5px 4px 25px;
	color: black;
	margin: 0;
	min-height: 16px;
	line-height: 16px;
}